<% provide( :title, @user.name ) %>

<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%=
          image_tag( gravatar_url( @user ), {
            alt: @user.name,
            class: "gravatar"
          } );
        %>

        <%= @user.name %>
      </h1>

      <p><%= @user.email %></p>
    </section>
  </aside>
</div>

